<!DOCTYPE html>
<html>
    <head>
        <script src="/static/app.js"></script>
        <link rel="stylesheet" href="/static/app.css"/>
    </head>
    <body>

        <a class="arrow-block"></a>
        <a class="arrow-block arrow up">up</a>
        <a class="arrow-block"></a>
        <br>
        <a class="arrow-block arrow left">left</a>
        <a class="arrow-block arrow down">down</a>
        <a class="arrow-block arrow right">right</a>
        <br>
        <br>
        <br>
        <img class="stream">
    </body>
</html>
